node_modules
npm-debug.log
yarn.lock
.yarn
.pnp*
.git
.gitignore
README.md
.env
.env.*
.DS_Store
coverage
.nyc_output
frontend/node_modules
backend/node_modules
backend/logs/*
frontend/build
**/*.mapnode_modules
**/node_modules
**/build
npm-debug.log
.DS_Store
.git
.gitignore
.vscode
**/.env
**/.cache
**/coverage
**/dist
